<div id="<%= dom_id post %>" class="d-flex flex-column">
<%= render "nav_create_post"%>
  <h1 class="text-center mt-3">
    <%= post.title%>
  </h1>

  <p class="text-center">
    <%= post.content %>
  </p>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <strong>Comment:</strong>
    <%= render partial: 'comments/form', locals: {post: @post}%>
  </div>

  <%= render @post.comments.order(id: :desc) %>
</div>
